<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Find Love</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Love Find</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Join Today</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Dating App  </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 users included</li>
          <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-lg btn-block btn-primary" %>
      </div>
  
    </div>
  </div>

  

